<%- include('partials/navbar') %>

<!DOCTYPE html>
<html>
<head>
  <title>Our Tutors</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Meet Our Tutors</h1>

<div class="tutor-grid">
  <% tutors.forEach(tutor => { %>
    <div class="tutor-card">
      <a href="/tutor/<%= tutor._id %>">
        <img src="<%= tutor.photoUrl %>" alt="Tutor Photo">
        <h2><%= tutor.name %></h2>
        <h4><%= tutor.university %> - Class of <%= tutor.classYear %></h4>
        <p><%= tutor.bio %></p>
      </a>      
    </div>
  <% }) %>
</div>



</body>
</html>

<%- include('partials/footer') %>
