<%- include('partials/navbar') %>

<div class="profile-container">
  <img src="<%= tutor.photoUrl %>" alt="Profile Picture" class="profile-pic">
  <h1><%= tutor.name %></h1>
  <h3><%= tutor.university %> - Class of <%= tutor.classYear %></h3>
  <p><%= tutor.longBio %></p>

  <h2>Specialties</h2>
  <ul>
    <% tutor.specialties.forEach(subject => { %>
      <li><%= subject %></li>
    <% }) %>
  </ul>

  <h2>Accepted Schools</h2>
  <ul>
    <% tutor.acceptedSchools.forEach(school => { %>
      <li><%= school %></li>
    <% }) %>
  </ul>

  <a href="/tutors">← Back to Tutors</a>
</div>

<%- include('partials/footer') %>


<footer>
    <p>© 2025 kkoinonos. All rights reserved.</p>
    <div>
      <a href="/" class="footer-link">Home</a> | 
      <a href="/tutors" class="footer-link">Tutors</a> | 
      <a href="https://instagram.com/yourusername" target="_blank" class="footer-link">
        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/instagram-new.png" alt="Instagram" style="vertical-align: middle; width:20px;"/> Instagram
      </a> | 
      <a href="https://github.com/yourusername" target="_blank" class="footer-link">
        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/github.png" alt="GitHub" style="vertical-align: middle; width:20px;"/> GitHub
      </a>
    </div>
  </footer>
  